<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title> SGPAF - Inicio</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    

    <body>
        <h1>SGPAF</h1>
        <h2>Módulo de seguimiento de requisitos de prácticas</h2>

        <p>
            Esta aplicación web permite gestionar el seguimiento de requisitos de los estudiantes en práctica.
        </p>

        <nav>
    <a href="/formulario">Registrar seguimiento de requisitos</a>
    <br><br>
    <a href="/listado">Ver listado de registros</a>
</nav>

    </body>

</html>